## Preparation

First, we need to install the required packages.

You can also set up a virtual environment for this tutorial. If you are not familiar with virtual environments, you can skip this step.

```bash
python3 -m venv venv
source venv/bin/activate
```

Then, install the required packages:

Also, make sure the PostgreSQL server is running. You can use Docker to run it, or download it from the official website.

If you want to use Docker, you can run the following command:

In [16]:
!sudo docker run --name postgresql -e POSTGRES_PASSWORD=testpassword -e POSTGRES_USER=testuser -e POSTGRES_DB=testuser -p 5432:5432 -d postgres:13.4-alpine

docker: Error response from daemon: Conflict. The container name "/postgresql" is already in use by container "642184e4a4867b09bb5fa6c788d89ec075f7c7d9ab4fcbd52f7b054145c10384". You have to remove (or rename) that container to be able to reuse that name.
See 'docker run --help'.

In [1]:
!sudo docker start postgresql

postgresql

---
## Connecting to the database
Now, we are able to connect to the database.

First, we need to create a connection string to connect to the database. The connection string is a `URL` that contains the information required to connect to the database.

### Engine
When you create an engine in SQLAlchemy, it does create a connection or connection pool associated with it. However, the connections in the pool are not instantiated right away.
Instead, they are lazily allocated on an as-needed basis.

When your application first requests a connection, the engine will create a new connection and hand it over to your session. As more connections are required, the engine will continue to allocate new ones until the maximum pool size is reached. When connections are released back to the pool, they can be reused by other sessions to minimize the overhead of establishing new connections.

So, the connection pool is created when you create an engine, but the connections within the pool are only allocated as they are needed. This helps to efficiently manage resources and optimize performance.

By default, the engine will create a pool of 5 connections. You can change this by passing the `pool_size` parameter to the `create_engine` function:
```python
engine = create_engine(url, pool_size=10)
```

Also, there is a thing called `max_overflow`. This parameter controls the number of connections that can be created above the `pool_size`. The default value is 10, which means that the engine will create a maximum of 15 connections (5 connections in the pool + 10 connections above the pool size).
```python
engine = create_engine(url, pool_size=5, max_overflow=10) # These are default values
```

You can also set the `pool_recycle` parameter. This parameter controls the maximum age of a connection. If a connection is older than the `pool_recycle` value, it will be closed and replaced with a new connection. The default value is -1, which means that the connections will never be recycled.
```python
engine = create_engine(url, pool_recycle=3600) # 1 hour
```

There are other parameters that you can set, but these are the most important ones.

## Session maker
`sessionmaker` is a component in SQLAlchemy that serves as a factory for creating Session objects with a fixed configuration. In a typical application, an Engine object is maintained in the module scope. The sessionmaker can provide a factory for Session objects that are bound to this engine.

In [2]:
from sqlalchemy import create_engine, URL
from sqlalchemy.orm import sessionmaker

url = URL.create(
    drivername="postgresql+psycopg2",  # driver name = postgresql + the library we are using (psycopg2)
    username='testuser',
    password='testpassword',
    host='localhost',
    database='testuser',
    port=5432
)

# engine = create_engine(url, echo=True)
engine = create_engine(url)
session_pool = sessionmaker(bind=engine)

URL format: `dialect+driver://username:password@host:port/database`

We use `create` method to instantiate an object of `URL` class. The `URL` class is a class that represents the connection string, but it isn't the string type.
We can render it with:

In [19]:
url.render_as_string(hide_password=False)

'postgresql+psycopg2://testuser:testpassword@localhost:5432/testuser'

DROP TABLE IF EXISTS users CASCADE;
CREATE TABLE IF NOT EXISTS users
(
	user_id BIGINT PRIMARY KEY,
	full_name VARCHAR(253) NOT NULL,
	username VARCHAR(253),
	language_code VARCHAR(253) NOT NULL, 
	created_at TIMESTAMP DEFAULT NOW(),
	referrer_id BIGINT,
	FOREIGN KEY (referrer_id)
		REFERENCES users(user_id)
		ON DELETE SET NULL
);

INSERT INTO users (user_id, full_name, username, language_code)
	VALUES (0, 'John Doe', 'joe', 'RU');

INSERT INTO users (user_id, full_name, username, language_code, referrer_id)
	VALUES (1, 'Jane Doe', 'JD', 'EN', 1);

In [3]:
from sqlalchemy import text
from sqlalchemy.orm import sessionmaker

# a sessionmaker(), also in the same scope as the engine
# Session = sessionmaker(engine)
# or you can name it `session_pool` or whatever you want

# we can now construct a Session() without needing to pass the
# engine each time
# with Session() as session:
    # session.add(some_other_object)
#     session.execute(text("""
# DROP TABLE alembic_version
#     """))

results = []
with session_pool() as session:
    results.append(session.execute(text("""
    SELECT * FROM users
    """)))

    results.append(session.execute(text("""
    SELECT * FROM userlocations
    """)))

    results.append(session.execute(text("""
    SELECT * FROM locations
    """)))

# closes the session after exiting the context manager.
session.commit()

for result in results:
    print(result.all())

[(1, 'john_doe', 'John Doe', True, 'en', datetime.datetime(2024, 6, 20, 6, 38, 14, 853833), None), (12356, 'johndoe', 'John Doe', True, 'en', datetime.datetime(2024, 6, 19, 2, 45, 14, 263074), None), (1824, 'figueroajohn', 'Brian Yang', True, 'si', datetime.datetime(2024, 6, 19, 2, 45, 14, 310830), None), (6873, 'shaneramirez', 'Olivia Moore', True, 'my', datetime.datetime(2024, 6, 19, 2, 45, 14, 338458), None), (9044, 'maria95', 'Michele Williams', True, 'hak', datetime.datetime(2024, 6, 19, 2, 45, 14, 352996), None), (1169, 'amandasanchez', 'Devin Schaefer', True, 'xh', datetime.datetime(2024, 6, 19, 2, 45, 14, 367904), None), (5155, 'dianafoster', 'Judy Baker', True, 'hsb', datetime.datetime(2024, 6, 19, 2, 45, 14, 381088), None)]
[(4, 6873), (2, 9044), (3, 1169), (1, 1824), (1, 5155), (2, 1)]
[(1, 'Ramirez Forge', '16155 Roman Stream Suite 816', True, datetime.datetime(2024, 6, 19, 3, 0, 30, 755164)), (2, 'Galloway Walk', '64752 Kelly Skyway', True, datetime.datetime(2024, 6, 19, 3, 0, 30, 784907)), (3, 'Gabrielle Ville', '05641 Robin Port', False, datetime.datetime(2024, 6, 19, 3, 0, 30, 796104)), (4, 'Burgess Meadow', '3287 Katelyn Wall Apt. 226', False, datetime.datetime(2024, 6, 19, 3, 0, 30, 804610))]

### Test it!

In [4]:
from typing_extensions import Annotated
from typing import Optional
from sqlalchemy.ext.declarative import declared_attr

import datetime
from sqlalchemy.dialects.postgresql import TIMESTAMP
from sqlalchemy import ForeignKey, BIGINT, Table, Column, Integer

from sqlalchemy import String, Boolean, true
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column
from sqlalchemy.orm import relationship
from sqlalchemy.sql.functions import func

from sqlalchemy import INTEGER, VARCHAR, DECIMAL
from sqlalchemy.orm import DeclarativeBase

# integer primary key
int_pk = Annotated[int, mapped_column(Integer, primary_key=True, autoincrement=True)]

# string column with length 128
str_128 = Annotated[str, mapped_column(String(128))]


# I'm doing it only to reset SQLAlchemy MetaData. Not necessary in real world.
class Base(DeclarativeBase):
    pass


class TableNameMixin(DeclarativeBase):
    @declared_attr.directive
    def __tablename__(cls) -> str:
        return cls.__name__.lower() + "s"


class TimestampMixin:
    created_at: Mapped[datetime.datetime] = mapped_column(
        TIMESTAMP, server_default=func.now()
    )


# association_table = Table('userlocations', Base.metadata,
#     Column('user_id', BIGINT, ForeignKey('users.user_id'), primary_key=True),
#     Column('location_id', BIGINT, ForeignKey('locations.location_id'), primary_key=True)
# )

#  The association object pattern is a variant on many-to-many (instead of `association_table`):
#  itâ€™s used when an association table contains additional columns beyond 
#  those which are foreign keys to the parent and child
class UserLocation(Base, TableNameMixin):
    """
    Represents a Association Table for Many-to-Many relationship between roles and locations.

    Attributes:
        location_id (Mapped[int]): The unique identifier of the location.
        user_id (Mapped[int])

    Methods:
        __repr__(): Returns a string representation of the object.

    Inherited Attributes:
        Inherits from Base and TableNameMixin classes, which provide additional attributes and functionality.

    """

    location_id: Mapped[int] = mapped_column(
        Integer,
        ForeignKey("locations.location_id", ondelete="CASCADE"),
        primary_key=True
    )
    user_id: Mapped[int] = mapped_column(
        BIGINT,
        ForeignKey("users.user_id", ondelete="RESTRICT"),
        primary_key=True
    )

    location: Mapped['Location'] = relationship()
    user: Mapped['User'] = relationship()

    def __repr__(self):
        return f"<UserLocation user_id={self.user_id} location_id={self.location_id}>"


class User(Base, TimestampMixin, TableNameMixin):
    """
    Represents a User in the application.

    Attributes:
        user_id (Mapped[int]): The unique identifier of the user.
        username (Mapped[Optional[str]]): The username of the user.
        full_name (Mapped[str]): The full name of the user.
        active (Mapped[bool]): Indicates whether the user is active or not.
        language (Mapped[str]): The language preference of the user.

    Methods:
        __repr__(): Returns a string representation of the User object.

    Inherited Attributes:
        Inherits from Base, TimestampMixin, and TableNameMixin classes, which provide additional attributes and functionality.

    Inherited Methods:
        Inherits methods from Base, TimestampMixin, and TableNameMixin classes, which provide additional functionality.

    """

    user_id: Mapped[int] = mapped_column(BIGINT, primary_key=True, autoincrement=False)
    username: Mapped[Optional[str_128]]
    full_name: Mapped[str_128]
    language: Mapped[str] = mapped_column(String(10), server_default=text("en"))
    active: Mapped[bool] = mapped_column(Boolean, server_default=true())
    logged_as: Mapped[Optional[str_128]]

    locations: Mapped[list["UserLocation"]] = relationship(back_populates="user")

    def __repr__(self):
        return f"<User {self.user_id} {self.username} {self.full_name}>"

class Location(Base, TimestampMixin, TableNameMixin):
    """
    Represents a location in the application.

    Attributes:
        location_id (Mapped[int]): The unique identifier of the location.
        location_name (Mapped[str]): The location_name of the location.
        address (Mapped[str]): The full addresss of the location.
        has_solarium (Mapped[bool]): Indicates whether the location has_solarium or not.

    Methods:
        __repr__(): Returns a string representation of the location object.

    Inherited Attributes:
        Inherits from Base, TimestampMixin, and TableNameMixin classes, which provide additional attributes and functionality.

    Inherited Methods:
        Inherits methods from Base, TimestampMixin, and TableNameMixin classes, which provide additional functionality.

    """

    location_id: Mapped[int_pk]
    location_name: Mapped[str] = mapped_column(String(128), unique=True)
    address: Mapped[str_128]
    has_solarium: Mapped[bool] = mapped_column(Boolean, server_default=true())

    users: Mapped[list["UserLocation"]] = relationship(back_populates="location")
    # users = relationship("User", secondary=association_table, back_populates="locations")

    def __repr__(self):
        return f"<Location {self.location_id} {self.location_name} {self.address}>"

### Aggregated Queries using SQLAlchemy

So, SQLAlchemy allows us to use aggregation SQL functions like SUM, COUNT, MIN/MAX/AVG and so on.

In [22]:
from sqlalchemy import insert, select
from sqlalchemy.orm import Session, selectinload

def get_users_with_locations(session: Session):
#     stmt = select(User).options(selectinload(User.locations).selectinload(UserLocation.location))
    select_stmt = (
        select(User)
        # .join(UserLocation, User.user_id == UserLocation.user_id)
        # .join(Location, UserLocation.location_id == Location.location_id)
    )
    results = session.execute(select_stmt).scalars().all()
    return results

with session_pool() as session:
    # Get users with their locations
    users = get_users_with_locations(session)
    for user in users:
        print(user.full_name)
        for user_location in user.locations:
            print(f"  Location: {user_location.location.location_name}")

    # Close the session
    session.close()

John Doe
Brian Yang
Olivia Moore
  Location: Gabrielle Ville
  Location: Burgess Meadow
Michele Williams
  Location: Galloway Walk
Devin Schaefer
  Location: Ramirez Forge
Judy Baker
  Location: Ramirez Forge

In [25]:
def get_users_by_location(location_id: int, session: Session):
    stmt = (
        select(User)
        .join(UserLocation)
        .join(Location)
        .where(Location.location_id == location_id)
    )

    results = session.execute(stmt).scalars().all()
    return results

# Example usage:
with session_pool() as session:
    location_id = 1
    users = get_users_by_location(location_id, session)
    for user in users:
        print(user)

<User 1169 amandasanchez Devin Schaefer>
<User 5155 dianafoster Judy Baker>

In [24]:
from sqlalchemy import func
from sqlalchemy import insert, select
from sqlalchemy.orm import Session


class Repo:
    def __init__(self, session: Session):
        self.session = session

    def get_all_user_locations_relationships(self, user_id: int):
        stmt = (
            select(Location, User.username)
            .join(User.locations)
            .join(Location)
            .where(User.user_id == user_id)
        )
        result = self.session.execute(stmt)
        return result.all()

    def get_user_total_number_of_locations(self, user_id: int):
        stmt = (
            # All SQL aggregation functions are accessible with `sqlalchemy.func` module
            select(func.count(UserLocation.location_id)).where(UserLocation.user_id == user_id)
        )
        # As you can see, if we want to get only one value with our query,
        # we can just use `.scalar(stmt)` method of our Session.
        result = self.session.scalar(stmt)
        return result

    def get_total_number_of_locations_by_user(self):
        stmt = (
            select(func.count(UserLocation.location_id), User.user_id)
            .join(User)
            .group_by(User.user_id)
        )
        result = self.session.execute(stmt)
        return result.all()

    def get_total_number_of_locations_by_user_with_labels(self):
        stmt = (
            select(func.count(UserLocation.location_id).label('quantity'), User.full_name.label('name'))
            .join(User)
            .group_by(User.user_id)
        )
        result = self.session.execute(stmt)
        return result.all()

with session_pool() as session:
    repo = Repo(session)

    user_id = 6873
    user_locations = repo.get_all_user_locations_relationships(user_id=user_id)

    for location, username in user_locations:
        print(
            f'# Location: {location.location_name}: {username}'
        )

    user_total_number_of_locations = repo.get_user_total_number_of_locations(user_id=user_id)
    print(f'[User: {user_id}] total number of Locations: {user_total_number_of_locations}')
    print('===========')
    for Locations_count, user_id in repo.get_total_number_of_locations_by_user():
        print(f'Total number of Locations: {Locations_count} by {user_id}')
    print('===========')
    for row in repo.get_total_number_of_locations_by_user_with_labels():
        print(f'Total number of Locations: {row.quantity} by {row.name}')
    print('===========')

# Location: Gabrielle Ville: shaneramirez
# Location: Burgess Meadow: shaneramirez
[User: 6873] total number of Locations: 2
===========
Total number of Locations: 1 by 1169
Total number of Locations: 2 by 6873
Total number of Locations: 1 by 5155
Total number of Locations: 1 by 9044
===========
Total number of Locations: 1 by Devin Schaefer
Total number of Locations: 2 by Olivia Moore
Total number of Locations: 1 by Judy Baker
Total number of Locations: 1 by Michele Williams
===========